/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Light.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf');
} */
@font-face {
  font-family: 'Space-Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf');
}
/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf');
} */
body{
  background-color: #261752;
  background-image: url('../images/Illustrations-header.png');
  font-family: 'Space-Grotesk';
  background-position: center top;
  background-repeat: no-repeat;
}
/* Navbar  */
nav.navbar{
  text-align: center;
}
.navbar-brand img{
  width: 50%;
}

.nav-link2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8E8E8E;
  text-decoration: none;
  margin: 0px 20px;
  font-family: 'Space_Grotesk';
}

/* heading&paragraph */
h1.h74{
  font-weight: normal;
  font-size: 70px;
  line-height: 119%;
  /* or 83px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
h1.h70{
  font-weight: normal;
  font-size: 70px;
  line-height: 119%;
  /* or 83px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
h2.h64-90{
  font-weight: normal;
  font-size: 64px;
  line-height: 90px;
  color: #FFFFFF;
  margin-bottom: 100px;
  text-align: center;
}
h2.h64-76{
  font-weight: normal;
  font-size: 64px;
  line-height: 119%;
  /* identical to box height, or 76px */
  color: #FFFFFF;
  margin-bottom: 35px;
}
h2.h64-70{
  font-weight: normal;
  font-size: 64px;
  line-height: 119%;
  /* identical to box height, or 76px */
  color: #FFFFFF;
  text-align: center;
  margin-top: 104px;
  margin-bottom: 85px;
  max-width: 562px;
}
h3.h60-70{
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 70px;
  /* or 117% */
  color: #FFFFFF;
  margin-bottom: 35px;
}
h6.h18{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
  margin-top: 27px;
}
p.p18{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 55px;
}
p.p16{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  /* or 219% */
  color: #FFFFFF;
}
p.p14{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 142% */
  color: #ACACAC;
  margin-top: 14px;
}

.btn-primary{
  background: linear-gradient(183.97deg, #EEBF27 -20.75%, #D38500 110.6%);
  backdrop-filter: blur(17.4139px);
  border-radius: 5.80465px;;
  padding: 8px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}



/* section hero */
section.hero{
  padding: 0px 0px 470px 0px;
}
section.hero .container{
  padding: 60px 0px 0px 0px;
  text-align: center;
}

/* section infographic  */
section.infographic{
  background: linear-gradient(141.67deg, #281951 -1.39%, #261752 87.82%);
  padding: 165px 0px;
}
section.infographic .wrapper{
  margin-bottom: 61px;
}

/* section smart contract */
section.smart-contract{
  padding: 165px 0px 167px 0px;
}
.slide-canva{
  margin-bottom: 165px;
}
.item-wrap{
  display: flex;
  align-items:center;
  justify-content:space-between;
  margin-top: 55px;
}

.bg-icon{
  background: linear-gradient(180deg, #836CC7 10%, #341E73 100%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secret-img{
  max-width: 595px  ;
}


/* lock  */
@media (min-width: 1200px){
  .container{
    max-width: 1170px;
  }
}