/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Light.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf');
} */
@font-face {
  font-family: 'Space-Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf');
}
/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf');
} */
body{
  background-color: #261752;
  background-image: url('../images/Illustrations-header.png');
  font-family: 'Space-Grotesk';
  background-position: center top;
  background-repeat: no-repeat;
}
/* Navbar  */
nav.navbar{
  text-align: center;
}
.navbar-brand img{
  width: 50%;
}

.nav-link2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8E8E8E;
  text-decoration: none;
  margin: 0px 20px;
  font-family: 'Space_Grotesk';
}

/* heading&paragraph */
h1.h74{
  font-weight: normal;
  font-size: 70px;
  line-height: 119%;
  /* or 83px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
h1.h70{
  font-weight: normal;
  font-size: 70px;
  line-height: 119%;
  /* or 83px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
h2.h64-90{
  font-weight: bold;
  font-size: 64px;
  line-height: 90px;
  color: #FFFFFF;
}
h2.h64-76{
  font-weight: normal;
  font-size: 64px;
  line-height: 119%;
  /* identical to box height, or 76px */
  color: #FFFFFF;
  margin-bottom: 35px;
}
h2.h64-70{
  font-weight: normal;
  font-size: 64px;
  line-height: 119%;
  /* identical to box height, or 76px */
  color: #FFFFFF;
  text-align: center;
  margin-top: 104px;
  margin-bottom: 85px;
  max-width: 562px;
}
h3.h60-70{
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 70px;
  /* or 117% */
  color: #FFFFFF;
  margin-bottom: 35px;
}
h4.h36{
  font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 46px;
text-align: center;
color: #FFFFFF;
margin-top: 32px;
margin-bottom: 10px;
}
h4.h34{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  /* margin-top: 32px; */
  margin-bottom: 33px;
}
h5.h20{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
h6.h18{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
  margin-top: 27px;
}
p.p18{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */
  color: #FFFFFF;
  margin-bottom: 55px;
}
p.p16{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  /* or 219% */
  color: #ACACAC;
}
p.p14{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 142% */
  color: #ACACAC;
  margin-top: 14px;
}
p.p13{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}
p.pyellow{
  color: #D38500;
  text-align: center;
  line-height: 21px;
  margin-bottom: 25px;
}

.btn-primary{
  background: linear-gradient(183.97deg, #EEBF27 -20.75%, #D38500 110.6%);
  backdrop-filter: blur(17.4139px);
  border-radius: 5.80465px;;
  padding: 8px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 0px;
}
.btn-outline-primary{
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.4);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 12px;
  margin-left: 0px;
}



/* section hero */
section.hero{
  padding: 0px 0px 470px 0px;
}
section.hero .container{
  padding: 60px 0px 0px 0px;
  text-align: center;
}

/* section infographic  */
section.infographic{
  background: linear-gradient(141.67deg, #281951 -1.39%, #261752 87.82%);
  padding: 165px 0px;
}
section.infographic .wrapper{
  margin-bottom: 61px;
}

/* section smart contract */
section.smart-contract{
  padding: 165px 0px 167px 0px;
}

.slide-canva{
  margin-top: 100px;
  margin-bottom: 165px;
}
.item-wrap{
  display: flex;
  align-items:center;
  justify-content:space-between;
  margin-top: 55px;
}

.bg-icon{
  background: linear-gradient(180deg, #836CC7 10%, #341E73 100%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secret-img{
  max-width: 595px  ;
}


/* section your plan  */
section.your-plan{
  padding: 165px 0px;
  background: linear-gradient(141.67deg, rgba(40, 25, 81, 0.88) -1.39%, rgba(38, 23, 82, 0.88) 87.82%);
}
section.your-plan .not-full{
  max-width: 427px;
  margin-top: 35px;
  margin-bottom: 120px;
}
.plan-price{
  padding: 2px 2px;
  background-image: url("../images/planprice.png");
  background-repeat: no-repeat;
  background-position: center top;
  /* background: linear-gradient(144deg, rgba(131,108,199,1) 0%, rgba(131,108,199,0) 100%); */
  border-radius: 15px;
  text-align: center;
  max-width: 257px;
  padding: 26px 34px 35px 34px;
  margin-bottom: 56px;
}
.enterprise{
  margin-bottom: 0px;
  background-image: url("../images/enterprise.png");
}
.ecosistem{
  background-image: url("../images/Ecosystem.png");
}

/* section focuse  */
section.focuse-screen{
  padding: 165px 0px;
}
section.focuse-screen .h64-90{
  margin-bottom: 89px;
}
section.focuse-screen .row{
  margin-bottom: 30px;
}
section.focuse-screen .col-5{
  padding: 30px;
  height: 250px;
  width: 481px;
  background-image: url("../images/focuse-bg.png");
  background-repeat: no-repeat; 
}
section.focuse-screen .col-7{
  padding: 30px;
  height: 250px;
  width: 670px;
  background-image: url("../images/focuse-bg-long.png");
  background-repeat: no-repeat;
}

/* section footer  */
section.footer{
  padding: 115px 0px 102px 0px;
  background: #1B0F3D;
}
section.footer .logo-foot{
  max-width: 215px;
  margin-bottom: 32px;
}
.footer-p{
  max-width: 398px;
  line-height: 20px;
  margin-bottom: 84px;
}

.socmed-icon{
  display: flex;
  align-items:center;
  justify-content:space-between;
  max-width: 270px;
}
section.footer .footer-link{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  text-decoration: none;
}

/* signup field  */
.container2{
  background: linear-gradient(262.73deg, rgba(51, 169, 254, 0.6) -3.4%, rgba(255, 62, 189, 0.6) 100%) ;
  backdrop-filter: blur(17.4139px);
  padding: 15px;
  border-radius: 8px;
  max-width: 439px;
}
input{
  width: 271px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent;
}
::placeholder{
  color: white;
}
button{
  border: none    ;
  margin-left: -20px;
  width: 149px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #261752;
  background-color: white;
  border-radius: 0px 8px 8px 0px;
  padding: 24px;
}


/* lock  */
@media (min-width: 1200px){
  .container{
    max-width: 1170px;
  }
}