/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Light.ttf');
}
@font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf');
} */
@font-face {
  font-family: 'Space-Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf');
}
/* @font-face {
  font-family: 'Space_Grotesk';
  src: url('../fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf');
} */
body{
  background-color: #261752;
  font-family: 'Space-Grotesk';
}

/* Navbar  */
nav.navbar{
  text-align: center;
}
.navbar-brand img{
  width: 50%;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url('../images/Menu-toggle.svg');
}
.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.55);
  border-color: rgba(255,255,255,.0);
}
.navbar-toggler-icon{
  background-size: 80%;
}
.navbar .container{
  flex-wrap:initial ;
}

.nav-link2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8E8E8E;
  text-decoration: none;
  margin: 0px 20px;
  font-family: 'Space_Grotesk';
}

/* heading&paragraph */
h1.h74{
  font-weight: normal;
  font-size: 70px;
  line-height: 119%;
  /* or 83px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
h1.h70{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 119%;
  /* identical to box height, or 48px */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 14px;
}
h2.h64-90{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 119%;
  /* identical to box height, or 38px */
  text-align: left;
  color: #FFFFFF;
}
h2.h64-76{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 119%;
  /* identical to box height, or 38px */
  color: #FFFFFF;
}
h2.h64-70{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 119%;
  /* or 38px */
  text-align: center;
  color: #FFFFFF;
  max-width: 562px;
  margin-top: 84px;
  margin-bottom: 44px;
}
h3.h60-70{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 119%;
  /* or 38px */
  color: #FFFFFF;
  margin-bottom: 24px;
}
h4.h36{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 119%;
  /* or 38px */
  text-align: center;
  color: #FFFFFF;
  margin-top: 41px;
  margin-bottom: 13px;
}
h4.h34{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  /* margin-top: 32px; */
  margin-bottom: 33px;
}
h5.h20{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
}
h5.h22{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 159% */
  color: #FFFFFF;
}
h6.h18{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #FFFFFF;
}
p.p18{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 34px;
}
p.p16{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */
  color: #ACACAC;
}
p.p14{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  color: #ACACAC;
  margin-bottom: 13px;
}
p.p14-35{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 250% */
  color: rgba(255, 255, 255, 0.7);
}
p.p13{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 39px;
}
p.pyellow{
  color: #D38500;
  text-align: center;
  line-height: 23px;
  margin-bottom: 32px;
}

.btn-primary{
  background: linear-gradient(183.97deg, #EEBF27 -20.75%, #D38500 110.6%);
  backdrop-filter: blur(17.4139px);
  border-radius: 5.80465px;;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
  color: #FFFFFF;
}
.btn-outline-primary{
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.4);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 12px;
  margin-left: 0px;
}



/* section hero */
section.hero{
  padding: 0px 0px 0px 0px;
  background-image: url('../images/bg-header-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
}
section.hero .container{
  padding: 27px 0px 0px 0px;
  text-align: center;
}
section.hero .img-mobile img{
  max-width: 100%;
  margin-top: 63px;
}

/* section infographic  */
section.infographic{
  /* background: linear-gradient(141.67deg, #281951 -1.39%, #261752 87.82%); */
  background-image: url("../images/infographic-bg-mobile.png");
  background-position: center 50%;
  background-repeat: no-repeat;
  padding: 84px 0px 54px 0px;
}
.wrapper{
  margin-bottom: 34px;
  display: flex;
  align-items:flex-start;
  justify-content:left;
}
.txt-wrapper{
  display: inline;
  margin-left: 32px;
}
.col-6{
  width: 100%;
}
section.infographic .col-2{
  width: 100%;
}
.offset-1{
  margin-left: 0px;
}

/* section smart contract */
section.smart-contract{
  background-image: url("../images/smart-contract-bg.png");
  background-position: center top;
  padding: 30px 0px 94px 0px;
}

.slide-canva{
  margin-top: 44px;
  margin-bottom: 84px;
}
.item-wrap{
  margin : 44px 0px;
}

.bg-icon{
  background: linear-gradient(180deg, #836CC7 10%, #341E73 100%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secret-img{
  max-width: 595px  ;
}


/* section your plan  */
section.your-plan{
  padding: 44px 0px;
  /* background: linear-gradient(141.67deg, rgba(40, 25, 81, 0.88) -1.39%, rgba(38, 23, 82, 0.88) 87.82%); */
  background-image: url("../images/price-plan-bg.png");
  background-position: center top;
}
section.your-plan .col-6{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.your-plan .not-full{
  max-width: 427px;
  margin-top: 24px;
  margin-bottom: 44px;
}
.plan-price{
  padding: 2px 2px;
  background-image: url("../images/planprice.png");
  background-repeat: no-repeat;
  background-position: center top;
  /* background: linear-gradient(144deg, rgba(131,108,199,1) 0%, rgba(131,108,199,0) 100%); */
  border-radius: 15px;
  text-align: center;
  max-width: 100%;
  padding: 33px 43px 60px 43px;
  margin-bottom: 34px;
}
.enterprise{
  margin-bottom: 34px;
  background-image: url("../images/planprice.png");
}
.ecosistem{
  background-image: url("../images/Ecosystem-mobile.png");
}

/* section ornamen */
section.ornamen_{
  position: relative;
  background-image: url("../images/ornamen-section.png");
  background-position: center;
  height: 460px;
  margin-top: -250px;
  display: none;
}

/* section focuse  */
section.focuse-screen{
  padding: 84px 0px 74px;
  background-image: url("../images/focuse-bgsectio.png");
  background-position: center top;
}
section.focuse-screen .h64-90{
  margin-bottom: 51px;
}
section.focuse-screen .row{
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.focuse-screen .col-5{
  padding: 100px 14px 14px 14px;
  height: 192px;
  width: 327px;
  margin-bottom: 24px;
  /* background-image: url("../images/focuse-bg.png"); */
  background-repeat: no-repeat; 
  background-position: center;
  background-size: contain;
}
section.focuse-screen .col-7{
  padding: 100px 14px 14px 14px;
  height: 192px;
  width: 327px;
  margin-bottom: 24px;
  /* background-image: url("../images/focuse-bg-long.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bg01{
  background-image: url('../images/focuse01-mobile.png');
}
.bg02{
  background-image: url('../images/focuse02-mobile.png');
}
.bg03{
  background-image: url('../images/focuse03-mobile.png');
}
.bg04{
  background-image: url('../images/focuse04-mobile.png');
}

/* section footer  */
section.footer{
  padding: 34px 0px 38px 0px;
  background: #1B0F3D;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
section.footer .container{
  max-width: 80%;
}
section.footer .logo-foot{
  max-width: 215px;
  margin-bottom: 32px;
} 
section.footer .footer-p{
  color: #FFFFFF;
}
.footer-p{
  /* max-width: 398px; */
  line-height: 20px;
  margin-bottom: 84px;
}
.socmed-icon{
  display: flex;
  align-items:center;
  justify-content:space-between;
  max-width: none;
}
section.footer .footer-link{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  text-decoration: none;
}
section.footer .row>*{
  text-align: center;
}
section.footer .col-2{
  width: 50%;
  text-align: left;
  margin-bottom: 57px;
}
section.footer .col-4{
  width: 50%;
  text-align: left;
  margin-bottom: 57px;
}

/* signup field  */
.container2{
  background: linear-gradient(262.73deg, rgba(51, 169, 254, 0.6) -3.4%, rgba(255, 62, 189, 0.6) 100%) ;
  backdrop-filter: blur(17.4139px);
  padding: 0px;
  border-radius: 8px;
  max-width: 400px;
  margin-bottom: 54px;
}
.gsheet{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
input{
  width: 271px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent;
}
::placeholder{
  color: white;
}
button{
  border: none    ;
  margin-left: -20px;
  width: 149px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #261752;
  background-color: white;
  border-radius: 0px 8px 8px 0px;
  padding: 24px;
}


/* lock  */
.container{
  max-width: 95%;
}
@media (min-width: 1200px){
  .container{
    max-width: 1170px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section.focuse-screen .row{
    margin: 0px 0px;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: space-around;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* font  */
  h2.h64-90{
    font-size: 64px;
    line-height: 90px;
    /* identical to box height, or 141% */
    text-align: center;
  }
  h4.h34{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
  }
  h5.h22{
    font-size: 22px;
    line-height: 35px;
  }
  p.p16{
    font-size: 16px;
    line-height: 20px;
  }
  p.p14-35{
    font-size: 14px;
    line-height: 35px;
  }

  section.focuse-screen {
    padding: 177px 0px 165px;
}
section.focuse-screen .h64-90 {
  margin-bottom: 89px;
}

  /* section footer  */
  section.footer{
    padding: 115px 0px 102px 0px;
  }
  section.footer .row{
    flex-wrap: unset;
  }
  section.footer .row>*{
    text-align: left;
  }
  section.footer .col-6{
    width: unset;
  }
  section.footer .col-2{
    width: unset;
  }
  .footer-p{
    max-width: 200px;
  }
  .offset-1{
    margin-left: 8%;
  }
  .socmed-icon{
    max-width: 270px;
  }
  
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h2.h64-90{
    text-align: left;
  }

  section.your-plan .col-6 {
    display: flex;
    flex-direction: column;
    align-items: unset;
}
  section.your-plan .not-full {
    margin-top: 35px;
    margin-bottom: 120px;
}

  /* section focuse  */
  section.focuse-screen .col-5{
    padding: 160px 30px 30px 30px;
    height: 250px;
    width: 470px;
  }
  section.focuse-screen .col-7{
    padding: 160px 30px 30px 30px;
    height: 250px;
    width: 670px;
  }

  .bg01{
    background-image: url('../images/focuse01.png');
  }
  .bg02{
    background-image: url('../images/focuse02.png');
  }
  .bg03{
    background-image: url('../images/focuse03.png');
  }
  .bg04{
    background-image: url('../images/focuse04.png');
  }

  section.footer .footer-link{
    font-size: 18px;
    line-height: 23px;
  }
  .footer-p{
    max-width: 350px;
  }

  .col-6 {
    width: 50%;
  }
  .container{
    max-width: 1170px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
  /* footer  */
  .footer-p{
    max-width: 389px;
  }
}